{% load compress %}
{# This is so django-compressor can work #}

<!DOCTYPE html>
<html lang="en">

<head>
	<title> {% block title %} Welcome {% endblock %} GameHub Rev </title>


	{% compress css %}
	{# rel defines the relationship between this document and the linked sheet #}
		<link rel="stylesheet" href="{{ STATIC_URL }}gamehub.less" type="text/less">
	{% endcompress %}



</head>

<body>

	{% block main %}
		<h1>Please extend main block </h1>
		<p> If you can see this text, then you need to extend the main block in your template </p>
	{% endblock %}

</body>

</html>